.video-play .selected-movie{
    justify-content: center;
}

.video-play .selected-movie .image-container{
    width: 350px;
    height: 500px;
}

.video-play .selected-movie .details{
    max-width: 800px;
    text-align: justify;
}

.video-play .selected-movie .details .rating{
    font-size: 20px;
    font-weight: bold;
}

.video-play .bi-star-fill{
    color: yellow;
    margin: 3px;
}


.video-play .selected-movie > *{
    margin: 20px;
}

.video-play .cast-member{
    margin: 10px;
}

.video-play .cast-member .image-container{
    width: 150px;
    height: 150px;
}

.video-play .cast-member .image-container img, .video-play .cast-member .image-container{
    border-radius: 50%;
    border: solid;
    border-color: red;
    border-width: 3px;
}

.video-play .cast-member .image-container img{
    filter: grayscale(5);
}