
.navbar{
    color: aliceblue;
    background-color: black;
}

.navbar h3{
    color: red;
    font-weight: bold;
}

.me-auto > *{
    margin: 10px;
    font-size: 18px;
    color: aliceblue;
}

.me-auto a:hover, .me-auto a:focus{
    color: red;
}

.my-dropdown{
    position: relative;
}

.my-dropdown:hover .my-dropdown-menu{
    display: block;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 200px;
    margin: auto;
}

.my-dropdown-menu{
    display: none;
    background-color: aliceblue;
    padding: 15px 0px;
}

.my-dropdown-menu > a{
    margin: 15px;
    color: black;
}

.my-dropdown-menu a:hover{
    color: red;
}

.offcanvas{
    background-color: black;
}

.offcanvas .bi-x-lg{
    color: aliceblue;
    font-size: 30px;
    margin: 0 50%;
}

@media screen and (max-width: 600px) {

}