.navbar-container {
    width: 10%;
}

.navbar .bi, .offcanvas .bi{
    color: red;
    margin-right: 10px;
    font-size: 20px;

}

.navbar-toggler{
    border: solid;
    color: aliceblue;
    border-color: aliceblue;
}

.me-auto,.navbar .container, .navbar, .offcanvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.navbar {
    color: aliceblue;
    width: 180px;
    position: sticky;
    top: 0;
}

.navbar h3 {
    color: red;
    font-weight: bold;
}


.me-auto>* {
    margin: 15px;
    font-size: 18px;
    color: aliceblue;
}

.me-auto a:hover,
.me-auto a:focus {
    color: red;
}



.offcanvas {
    background-color: black;
}

.offcanvas .bi-x-lg {
    color: aliceblue;
    font-size: 30px;
    margin: 0 50%;
}

@media screen and (max-width: 1200px) {
    .navbar-container {
        width: 100%;
        position: relative;
    }

    .navbar{
        width: 100%;
    }

    .navbar .container, .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}