.genre-landing{
    height: 300px;
    width: 100%;
}

.genre-display .main-section > *{
    margin: 50px 0;
}


@media screen and (max-width: 600px) {
    .genre-landing{
        height: 170px;
    }
}