.app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}


.main-content{
    width: 90%;
    margin: auto;
}

.movies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movies-section{
    margin: 50px 0;
    text-align: start;
}

.main-section{
    width: 95%;
    margin: auto;
}

.red-title{
    color: red;
}

@media screen and (max-width: 1000px) {
    .app{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-content{
        width: 100%;
    }

    .movies-container{
        justify-content: center;
    }
}